{# @var menu \Knp\Menu\ItemInterface #}
{% set menu = knp_menu_get('admin.form_endpoint', options: { endpoint }) %}

<nav>
    <ul role="tablist" class="flex gap-2 mb-2 bg-slate-100 border border-slate-200 rounded-md p-1">
        {% for item in menu.children %}
            {% set isActive = item is knp_menu_current or item is knp_menu_ancestor %}
            <li class="nav-item">
                <a href="{{ item.uri }}"
                    {% if isActive -%} aria-current="page" {%- endif %}
                   class="{{ html_classes(
                       'inline-flex gap-2 items-center text-neutral-500 text-sm font-medium rounded-sm transition-colors',
                       'px-6 py-2 hover:bg-slate-100 hover:text-neutral-700 aria-[current=page]:text-primary-600 aria-[current=page]:bg-white'
                   ) }}"
                >
                    {{ item.label|trans }}
                </a>
            </li>
        {% endfor %}
    </ul>
</nav>
