<nav>
    <ul role="tablist" class="flex gap-6 mb-2 border-b border-neutral-200">
        <li class="nav-item">
            <a href="{{ path('app_admin_form_endpoint_submission_list', {'id': endpoint.id}) }}"
                {% if app.current_route == 'app_admin_form_endpoint_submission_list' -%} aria-current="page" {%- endif %}
               class="inline-flex gap-2 items-center text-neutral-500 font-medium p-3 border-b-2 border-transparent hover:border-neutral-200 hover:text-neutral-700 aria-[current=page]:text-primary-600 aria-[current=page]:border-primary-600"
            >
                {{ 'label.admin.form.endpoint.submissions'|trans }}
            </a>
        </li>
        <li role="tab">
            <a href="{{ path('app_admin_form_endpoint_settings', {'id': endpoint.id}) }}"
               {% if app.current_route == 'app_admin_form_endpoint_settings' -%} aria-current="page" {%- endif %}
               class="inline-flex gap-2 items-center text-neutral-500 font-medium p-3 border-b-2 border-transparent hover:border-neutral-200 hover:text-neutral-700 aria-[current=page]:text-primary-600 aria-[current=page]:border-primary-600"
            >
                {{ 'label.admin.form.endpoint.settings'|trans }}
            </a>
        </li>
    </ul>
</nav>
