{# @var attributes \Symfony\UX\TwigComponent\ComponentAttributes #}

<td class="{{ tw_merge('px-4 py-3 align-middle', attributes.render('class')) }}" {{ attributes }}>
   {%- block content -%}{%- endblock -%}
</td>
